body {
  font-family: sans-serif;
  font-size: 14px;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.app-header {
  padding: 2px;
  background-color: #ff6600;
}

.app-content {
  padding: 10px;
  background-color: #f6f6ef;
}

.app-logo {
  display: inline-block;
  font-weight: bold;
}

.app-logo-img {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 16px;
  width: 16px;
  text-align: center;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.header-nav,
.footer-links {
  list-style-type: none;
  display: inline-block;
  margin: 0;
}

.header-nav li,
.footer-links li {
  display: inline;
  padding: 0 6px;
  border-left: 1px solid #000000;
  margin: 0;
}

.header-aside {
  float: right;
}

.news-item {
}

.news-item-index {
  vertical-align: top;
}

.news-item-caret {
  margin: 0 3px;
  display: inline-block;
  border-bottom: 8px solid #696969;
  border-top: 8px solid transparent;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.news-item-body {
  display: inline-block;
}

.news-item-headline {
  display: inline;
}

.news-item-ref {
  font-size: 11px;
  color: #828282;
}

.news-item-details {
  font-size: 10px;
  color: #828282;
  font-weight: light;
}

.app-content-footer {
  padding: 20px;
  text-align: center;
  border-top: 2px solid #ff6600;
}
